<!--AQUI MOSTRAMOS CONTENIDO CUANDO EL USAURIO NO ESTA REGISTRADO -->
<ion-content  #scrollElement id="scrollElement" (ionScroll)="didScroll()" [scrollEvents]="true" *ngIf="this.sessionactiva!='true'">
          
        <div class="top-fondo-img">
                <ion-header>
                  <ion-toolbar class="ion-toolbar">
                        <span class="titulo-top">Activitiespass</span>
                  </ion-toolbar>
                </ion-header>
          </div>
 
        <!-- FIN HASTA AQUI ES LAS PROMOCIONES  -->
        <div padding class="chat-list" style="margin-top: 20%;"> 
                   <ion-row>
                    <ion-col col-12 style="text-align: -webkit-center;">
                        <ion-avatar class="" style="height: 80px; width: 80px;">
                          <img style="width: 80px; height: 80px;" class="" src="./assets/logos/avatar2.png" height="110px" width="110px;">
                        </ion-avatar>
                    </ion-col>
                    </ion-row>
                    <ion-label title><b>{{'inciobienvenida1' | translate }}</b></ion-label>      
                    <ion-label title-sub>{{'inciobienvenida2' | translate }}</ion-label> 

                    <ion-button type="Button" expand="block" style="margin-top: 15px;" (click)="registro()" color="secondary">{{'inciobienvenida5' | translate }}</ion-button>
                    <ion-button type="Button" expand="block" style="margin-top: 15px;" (click)="iniciarsession()" color="primary">{{'iniciarsession' | translate }}</ion-button>
        </div>
</ion-content>
<!-- Custom Refresher Content -->



<ion-content #scrollElement id="scrollElement" [scrollEvents]="true" (ionScroll)="didScroll()" *ngIf="this.sessionactiva=='true'">
      <ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)" *ngIf="this.data2!=null && this.data2.length!=0">
        <ion-refresher-content
          ppullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles">
        </ion-refresher-content>
      </ion-refresher>

      <div class="top-fondo-img">
            <ion-header>
              <ion-toolbar class="ion-toolbar">
                    <span class="titulo-top">Activitiespass</span>
                    <ion-buttons slot="end">
                           <ion-icon class="menu-icon" (click)="presentPopover($event)" name="ellipsis-vertical"></ion-icon>
                    </ion-buttons>
              </ion-toolbar>
            </ion-header>
      </div>
      

      <ion-infinite-scroll style="margin-bottom: 0px;" threshold="50px" (ionInfinite)="loadData($event)" *ngIf="this.data2!=null && this.data2.length!=0">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="{{'cargando' | translate }}...">
          </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>    

