
<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-col col-2>
          <img style="height:30px; width:30px;margin-left: 5px;" *ngIf="this.fotodeperfil!='' && this.fotodeperfil!=null" src="{{this.fotodeperfil}}">
          <img style="height:30px; width:30px;margin-left: 5px;" *ngIf="this.fotodeperfil=='' || this.fotodeperfil==null" src="./assets/logos/avatar.png">
        </ion-col>
        <ion-col col-10 style="padding-top: 6px; padding-left: 6px;">
          {{this.username}}
        </ion-col>
      </ion-row>
      </ion-title>
      <button slot="end" (click)="close()" class="send" type="button">
            <ion-icon name="close" icon-close></ion-icon>
      </button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid no-padding style="margin-top: 15px;">
    <form #EnForm="ngForm"  class="form" [formGroup]="myForm" (ngSubmit)="enviarformulario()">
          

          <div padding  *ngIf="this.activa0==1">
                  <ion-label title style="margin-bottom: 0px !important;"><b>{{'publicaciontexto1' | translate }}</b></ion-label>
                       <ion-row>
                        <ion-col col-6 text-center style="">
                              <div class="div-post-type" (click)="continue0(1)">
                                <img class="img-post-type" src="./assets/logos/ventas.png"/>
                              </div>
                              <ion-button id="boton_envio" (click)="continue0(1)" expand="block" color="secondary" style="height: 40px; white-space: inherit; line-height: 23px;">{{'publicaciontexto13' | translate }}</ion-button>
                        </ion-col> 

                        <ion-col col-6 text-center style="">
                              <div class="div-post-type" (click)="continue0(2)">
                                <img class="img-post-type" src="./assets/logos/compartir.png"/>
                              </div>
                              <ion-button id="boton_envio" (click)="continue0(2)" expand="block" color="secondary" style="height: 40px; white-space: inherit; line-height: 23px;">{{'publicaciontexto14' | translate }}</ion-button>
                        </ion-col>

                        <ion-col col-12 text-center style="">
                              <div class="div-post-type" (click)="publicacionsolicitudadd()">
                                <img class="img-post-type" src="./assets/logos/solicitud.png"/>
                              </div>
                              <ion-button id="boton_envio" (click)="publicacionsolicitudadd()" expand="block" color="secondary" style="height: 40px; white-space: inherit; line-height: 23px;">{{'publicarpost3' | translate }}</ion-button>
                        </ion-col>
                  </ion-row>            
        </div>


          <div padding  *ngIf="this.activa1==1">
                  <ion-label title><b>{{'publicaciontexto4' | translate }}</b></ion-label>
                  <ion-row style="height: 141px; box-shadow: 0px 0px 5px -2px; border-radius: 10px;">
                    <ion-col col-4 text-center style="padding-left: 20px;">
                          <div class="div-add-img-trash" *ngIf="image1!='' && image1!=null"  (click)="limpiar(1)">
                            <img class="img-add-trash" [src]="image1"/>
                            <ion-label  (click)="limpiar(1)" style="color: #3880ff; text-decoration-line: underline;margin-top: 18px; font-size: 14px; white-space: initial;">{{'eliminarmensaje' | translate }}</ion-label>
                          </div>
                          <div class="div-add-img" *ngIf="image1=='' || image1=='null'" (click)="cambiarimagen(1)">
                            <ion-icon name="add" slot="start" class="div-add-img-icon"></ion-icon>
                            <ion-label style="margin-top: 18px; font-size: 14px; white-space: initial;">{{'agregarimagen' | translate }} 1</ion-label>
                          </div>
                    </ion-col>


                    <ion-col col-4 text-center style="padding-left: 20px;" *ngIf="image1!='' && image1!=null">
                          <div class="div-add-img-trash" *ngIf="image2!='' && image2!=null"  (click)="limpiar(2)">
                            <img class="img-add-trash" [src]="image2"/>
                            <ion-label  (click)="limpiar(2)" style="color: #3880ff; text-decoration-line: underline;margin-top: 18px; font-size: 14px; white-space: initial;">{{'eliminarmensaje' | translate }}</ion-label>
                          </div>
                          <div class="div-add-img" *ngIf="image2=='' || image2=='null'" (click)="cambiarimagen(2)">
                            <ion-icon name="add" slot="start" class="div-add-img-icon"></ion-icon>
                            <ion-label style="margin-top: 18px; font-size: 14px; white-space: initial;">{{'agregarimagen' | translate }} 2</ion-label>
                          </div>
                    </ion-col>
                    <ion-col col-4 text-center style="padding-left: 20px;" *ngIf="image1=='' || image1==null">
                          <div class="div-add-img"  style="opacity: 0.2;">
                            <ion-icon name="add" slot="start" class="div-add-img-icon"></ion-icon>
                            <ion-label style="margin-top: 18px; font-size: 14px; white-space: initial;">{{'agregarimagen' | translate }} 2</ion-label>
                          </div>
                    </ion-col>


                    <ion-col col-4 text-center style="padding-left: 20px;" *ngIf="image2!='' && image2!=null" >
                          <div class="div-add-img-trash" *ngIf="image3!='' && image3!=null"  (click)="limpiar(3)">
                            <img class="img-add-trash" [src]="image3"/>
                            <ion-label  (click)="limpiar(3)" style="color: #3880ff; text-decoration-line: underline;margin-top: 18px; font-size: 14px; white-space: initial;">{{'eliminarmensaje' | translate }}</ion-label>
                          </div>
                          <div class="div-add-img" *ngIf="image3=='' || image3=='null'" (click)="cambiarimagen(3)">
                            <ion-icon name="add" slot="start" class="div-add-img-icon"></ion-icon>
                            <ion-label style="margin-top: 18px; font-size: 14px; white-space: initial;">{{'agregarimagen' | translate }} 3</ion-label>
                          </div>
                    </ion-col>
                     <ion-col col-4 text-center style="padding-left: 20px;" *ngIf="image2=='' ||image2==null">
                          <div class="div-add-img" style="opacity: 0.2;">
                            <ion-icon name="add" slot="start" class="div-add-img-icon"></ion-icon>
                            <ion-label style="margin-top: 18px; font-size: 14px; white-space: initial;">{{'agregarimagen' | translate }} 3</ion-label>
                          </div>
                    </ion-col>
                  </ion-row>   
                  <!--
                  <br><br><br>
                  <div *ngIf="this.version_exporar=='2'"> 
                  <ion-label title><b>{{'publicaciontexto4_1' | translate }}</b></ion-label>
                        <ion-row style="height: 150px; box-shadow: 0px 0px 5px -2px; border-radius: 10px;">
                            <ion-col col-12 text-center style="padding-left: 20px;">
                                  <div class="div-add-img-trash" *ngIf="selectedVideo_url!='' && selectedVideo_url!=null"  (click)="limpiar_video(1)">
                                    <img class="img-add-trash" src="./assets/logos/bueno.png"/>
                                    <ion-label  (click)="limpiar(1)" style="color: #3880ff; text-decoration-line: underline;margin-top: 18px; font-size: 14px; white-space: initial;">{{'eliminarmensaje' | translate }}</ion-label>
                                  </div>
                                  <div class="div-add-img" *ngIf="selectedVideo_url=='' || selectedVideo_url=='null'" (click)="cambiarvideo()">
                                    <ion-icon name="add" slot="start" class="div-add-img-icon"></ion-icon>
                                    <ion-label style="margin-top: 18px; font-size: 14px; white-space: initial;">{{'agregarvideo' | translate }} 1</ion-label>
                                  </div>
                            </ion-col>
                        </ion-row>  
                  </div>
                  -->
                  <div padding style="text-align: center;margin-top: 30px;">
                      <ion-button id="boton_envio" (click)="continue1()" expand="block" color="secondary" >{{'registrocompletar0' | translate }}</ion-button>
                       <br><br>
                      <!--
                        <a (click)="continue_()" style="text-decoration-line: underline; margin-top:10px; font-size:14px !important;text-transform: none !important;">{{'publicaciontexto11' | translate }}</a>
                      -->
                  </div> 
        </div>





        <div padding *ngIf="this.activa2==1">
                    <ion-label title><b>{{'publicaciontexto5' | translate }}</b></ion-label>
                    <ion-item>
                        <ion-icon name="create" slot="start"></ion-icon>
                        <ion-input placeholder="{{'titulo' | translate }}" formControlName="titulo" maxlength="50" type="text"></ion-input>                        
                    </ion-item>
                    <br><br>
                    <ion-label title><b>{{'publicaciontexto6' | translate }}</b></ion-label>
                    <ion-label subtitle><b>{{'publicaciontexto6sub' | translate }}</b></ion-label>
                    <ion-radio-group value="0" formControlName="publicaciontipo_optimizar">
                        <ion-row>
                          <ion-col col-6>
                            <ion-item>
                              <ion-radio style="margin-right: 15px; margin-left: 0px;" slot="start" color="secondary" (click)="optimizar1(1)" value="1"></ion-radio>
                              <ion-label style="font-size: 12px;">{{'no' | translate }}</ion-label>                        
                            </ion-item>
                          </ion-col>
                           <ion-col col-6>
                            <ion-item>
                              <ion-radio style="margin-right: 15px; margin-left: 0px;" slot="start" color="secondary" (click)="optimizar1(2)" value="2"></ion-radio>
                              <ion-label style="font-size: 12px;">{{'si' | translate }}</ion-label>                        
                            </ion-item>  
                          </ion-col>
                        </ion-row>
                    </ion-radio-group>
                    <ion-row style="margin-top:15px" *ngIf="this.optimizar==2">
                      <ion-col col-12>
                                <ion-item>
                                    <ion-icon name="create" slot="start"></ion-icon>
                                    <ion-textarea placeholder="{{'publicaciontexto6sub1' | translate }}..." id="solicita1" #solicita1 rows="5" cols="20" formControlName="titulo_op" ></ion-textarea>                   
                                </ion-item>
                                <div padding style="text-align: center;margin-top: 5px;">
                                    <ion-button id="boton_envio" (click)="optimizar2()"  color="primary">{{'publicaciontexto6sub3' | translate }}</ion-button>
                                </div>
                      </ion-col>
                    </ion-row>
                    <ion-row style="margin-top:15px" *ngIf="this.optimizar==2  || this.optimizar==1">
                      <ion-col col-12>
                            <ion-item>
                                  <ion-icon name="clipboard" slot="start"></ion-icon>
                                  <ion-textarea [(ngModel)]="this.texto_optimizado"  placeholder="{{'publicaciontexto6sub2' | translate }}..." id="solicita" #solicita rows="7" cols="20" formControlName="texto" ></ion-textarea>
                            </ion-item>
                      </ion-col>
                    </ion-row>

                    <div padding style="text-align: center;margin-top: 50px;">
                        <ion-button id="boton_envio" (click)="continue2()"    expand="block" color="secondary" *ngIf="this.tipoactiva==1">{{'registrocompletar0' | translate }}</ion-button>
                        <ion-button id="boton_envio" (click)="continue5_2()"  expand="block" color="secondary" *ngIf="this.tipoactiva==2">{{'registrocompletar0' | translate }}</ion-button>
                        <br><br>
                      <a (click)="continue0(this.tipoactiva)" style="text-decoration-line: underline; margin-top:10px; font-size:14px !important;text-transform: none !important;">{{'publicaciontexto11' | translate }}</a>
                    </div>
        </div>





        <div padding  *ngIf="this.activa3==1">
                  <ion-label title><b>{{'publicaciontexto7' | translate }}?</b></ion-label>
                  <ion-radio-group value="1" formControlName="publicaciontipo">
                      <ion-row>
                        <ion-col col-6>
                          <ion-item>
                            <ion-radio style="margin-right: 15px; margin-left: 0px;" slot="start" color="secondary" (click)="activaoferta(1)" checked value="1"></ion-radio>
                            <ion-label style="font-size: 12px;">#{{'no' | translate }}</ion-label>                        
                          </ion-item>
                        </ion-col>
                         <ion-col col-6>
                          <ion-item>
                            <ion-radio style="margin-right: 15px; margin-left: 0px;" slot="start" color="secondary" (click)="activaoferta(2)" value="2"></ion-radio>
                            <ion-label style="font-size: 12px;">#{{'si' | translate }}</ion-label>                        
                          </ion-item>  
                        </ion-col>
                      </ion-row>
                  </ion-radio-group>
                  <br>
                  <ion-label title><b>{{'publicaciontexto15' | translate }}</b></ion-label>
                   <ion-radio-group value="1" formControlName="nuevo_usado">
                      <ion-row>
                        <ion-col col-6>
                          <ion-item>
                            <ion-radio style="margin-right: 15px; margin-left: 0px;" slot="start" color="secondary"  checked value="1"></ion-radio>
                            <ion-label style="font-size: 12px;">{{'nuevo' | translate }}</ion-label>                        
                          </ion-item>
                        </ion-col>
                         <ion-col col-6>
                          <ion-item>
                            <ion-radio style="margin-right: 15px; margin-left: 0px;" slot="start" color="secondary" value="2"></ion-radio>
                            <ion-label style="font-size: 12px;">{{'usado' | translate }}</ion-label>                        
                          </ion-item>  
                        </ion-col>
                      </ion-row>
                  </ion-radio-group>

                  <div padding style="text-align: center;margin-top: 50px;">
                          <ion-button id="boton_envio" (click)="continue3()"    expand="block" color="secondary" *ngIf="this.tipoactiva==1">{{'registrocompletar0' | translate }}</ion-button>
                          <ion-button id="boton_envio" (click)="continue5_2()"  expand="block" color="secondary" *ngIf="this.tipoactiva==2">{{'registrocompletar0' | translate }}</ion-button>
                          <br><br>
                          <a (click)="continue1_1()" style="text-decoration-line: underline; margin-top:10px; font-size:14px !important;text-transform: none !important;">{{'publicaciontexto11' | translate }}</a>
                  </div>
        </div>






        <div padding *ngIf="this.activa4==1">

              <ion-label title><b>{{'publicaciontexto8' | translate }}</b></ion-label>
              <div padding style="padding-top: 0px;padding-bottom: 0px;">
                            <ion-label style="font-size: 13px; margin-top: 0px; white-space: normal; text-align: left;">{{'moneda1' | translate }}:</ion-label>
                            <ion-item style="--border-width: 0px;">
                                <ion-icon name="cash" slot="start"></ion-icon>
                                 <ion-select [(ngModel)]="this.pais_ng" formControlName="isomoneda" okText="{{'botonaceptar' | translate }}" cancelText="{{'botoncancelar' | translate }}" id="solicita" style="width: 100%;">
                                    <ion-select-option value="VES Bs">VES Bs</ion-select-option>
                                    <ion-select-option value="MXN $">MXN $</ion-select-option>
                                    <ion-select-option value="USD $">USD $</ion-select-option>
                                    <ion-select-option value="CLP $">CLP $</ion-select-option>
                                    <ion-select-option value="COP $">COP $</ion-select-option>
                                    <ion-select-option value="PEN S/">PEN S/</ion-select-option>
                                    <ion-select-option value="ARS $">ARS $</ion-select-option>
                                    <ion-select-option value="BOB Bs">BOB Bs</ion-select-option>
                                    <ion-select-option value="DOP RD$">DOP RD$</ion-select-option>
                                    <ion-select-option value="EUR €">EUR €</ion-select-option>
                                </ion-select>
                            </ion-item>
              </div>
              <br>
              <ion-label title><b>{{'publicaciontexto9' | translate }}</b></ion-label>
              <div padding style="padding-top: 5px;padding-bottom: 0px;" *ngIf="this.oferta==2">
                            <ion-label style="font-size: 13px; margin-top: 0px; white-space: normal; text-align: left;">{{'agregarpreciooferta' | translate }}:</ion-label>
                            <ion-item>
                                <ion-icon name="card" slot="start"></ion-icon>
                                <input currencyMask type="numeric"  style="margin-left:0px; border: 0; outline:none; background-color: #fff; " class="precio"  formControlName="precio_oferta" [options]="{ prefix: ' ', thousands: ',', decimal: '.' }" />
                            </ion-item>
              </div>
              <div padding style="padding-top: 5px;padding-bottom: 0px;">
                            <ion-label style="font-size: 13px; margin-top: 0px; white-space: normal; text-align: left;">{{'agregarprecioproducto' | translate }}:</ion-label>
                            <ion-item>
                                <ion-icon name="card" slot="start"></ion-icon>
                                <input currencyMask type="numeric" style="border: 0; outline:none; background-color: #fff; " class="precio"  formControlName="precio" [options]="{ prefix: ' ', thousands: ',', decimal: '.' }" />
                            </ion-item>
              </div>  
              
              <div padding style="text-align: center;margin-top: 50px;">
                  <ion-button id="boton_envio" (click)="continue5_2()" expand="block" color="secondary" >{{'registrocompletar0' | translate }}</ion-button>
                  <br><br>
                  <a (click)="continue2()" style="text-decoration-line: underline; margin-top:10px; font-size:14px !important;text-transform: none !important;">{{'publicaciontexto11' | translate }}</a>
              </div>
        </div>


        <div padding *ngIf="this.activa6==1">

              <ion-label title><b>{{'publicaciontexto16' | translate }}</b></ion-label>


              <ion-radio-group value="1" formControlName="ubicaciontipo">
                  <ion-row>
                    <ion-col col-12>
                      <ion-item>
                        <ion-radio style="margin-right: 15px; margin-left: 0px;" slot="start" color="secondary" (click)="activarubicacion(1)" checked value="1"></ion-radio>
                        <ion-label style="font-size: 12px;">{{'no' | translate }}?</ion-label>                        
                      </ion-item>
                    </ion-col>
                     <ion-col col-12>
                      <ion-item>
                        <ion-radio style="margin-right: 15px; margin-left: 0px;" slot="start" color="secondary" (click)="activarubicacion(2)" value="2"></ion-radio>
                        <ion-label style="font-size: 12px;">{{'si' | translate }}?</ion-label>                        
                      </ion-item>  
                    </ion-col>
                    <ion-col col-12>
                      <ion-item>
                        <ion-radio style="margin-right: 15px; margin-left: 0px;" slot="start" color="secondary" (click)="activarubicacion(3)" value="3"></ion-radio>
                        <ion-label style="font-size: 12px;">{{'mismadeperfil' | translate }}?</ion-label>                        
                      </ion-item>  
                    </ion-col>
                  </ion-row>
              </ion-radio-group>


              <div padding style="padding-top: 5px;padding-bottom: 0px;" *ngIf="this.tipo_ubicacion==2">
                    <div padding style="padding-top: 0px;padding-bottom: 0px;"  >
                                <ion-item>
                                    <ion-icon name="map" slot="start" style="margin-right: 18px;"></ion-icon>
                                    <span style="margin-right: 10px;">Lat</span>
                                    <ion-input placeholder="{{'editarperfiltext7' | translate }}" readonly="true" id="Mycarlatitud" [(ngModel)]="this.latitud_ng_2"  formControlName="latitud" type="text"></ion-input>
                                </ion-item>
                    </div>
                    <div padding style="padding-top: 0px;padding-bottom: 0px;">
                                <ion-item>
                                    <ion-icon name="map" slot="start" style="margin-right: 18px;"></ion-icon>
                                    <span style="margin-right: 10px;">Lon</span>
                                    <ion-input placeholder="{{'editarperfiltext8' | translate }}"   readonly="true" id="Mycarlongitud"  [(ngModel)]="this.longitud_ng_2"  formControlName="longitud"  type="text"></ion-input>
                                    </ion-item>
                    </div>
                    <div padding style="font-size:16px;">
                      {{this.titulo_ubicacion_ng}}
                    </div>
                    <ion-input readonly="true" id="Mycarestado"    [(ngModel)]="this.titulo_ubicacion_ng"  readonly="true"  formControlName="titulo_ubicacion"    type="hidden"></ion-input>
                    <div padding style="padding-top: 0px;">
                        <ion-row>
                          <ion-col col-12><div  id="map2" style="width: 100%; height: 250px"></div></ion-col>
                        </ion-row>
                    </div>
              </div>
             
             <div padding style="text-align: center;margin-top: 0px;" *ngIf="this.enviar==1">
                  <ion-button id="boton_envio" (click)="continue6()"  expand="block" color="secondary" >{{'guardar' | translate }}</ion-button>
                  <br><br>
                  <a (click)="continue5_1()" *ngIf="this.tipoactiva==1" style="text-decoration-line: underline; margin-top:10px; font-size:14px !important;text-transform: none !important;">{{'publicaciontexto11' | translate }}</a>
                  <a (click)="continue1_1()"   *ngIf="this.tipoactiva==2" style="text-decoration-line: underline; margin-top:10px; font-size:14px !important;text-transform: none !important;">{{'publicaciontexto11' | translate }}</a>
              </div>
        </div>   



    </form>
	</ion-grid>
</ion-content>
