<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      <ion-row>
        <ion-col col-2>
          <img style="height:30px; width:30px;margin-left: 5px;" *ngIf="this.fotodeperfil!='' && this.fotodeperfil!=null" src="{{this.fotodeperfil}}">
          <img style="height:30px; width:30px;margin-left: 5px;" *ngIf="this.fotodeperfil=='' || this.fotodeperfil==null" src="./assets/logos/avatar.png">
        </ion-col>
        <ion-col col-10 style="padding-top: 13px; padding-left: 6px;">
          {{this.username}}
        </ion-col>
      </ion-row>
      </ion-title>
      <button slot="end" (click)="close()" class="send" type="button">
            <ion-icon name="close" icon-close></ion-icon>
      </button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid no-padding style="margin-top: 15px;">
    
	</ion-grid>
</ion-content>
