<ion-header>
      <ion-toolbar>
          <ion-buttons slot="start">
                <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
          </ion-buttons>
          <ion-buttons slot="end">
                 <ion-icon class="menu-icon" (click)="presentPopover($event)" name="ellipsis-vertical"></ion-icon>
          </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>


    <div *ngFor="let item of this.datos; let i=index;" >
        <ion-row>
          <ion-col col-4 style="font-size: 18px;"> <b>Name:</b></ion-col>
          <ion-col col-8 style="font-size: 18px;"> {{item.name}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4 style="font-size: 18px;"> <b>Address:</b></ion-col>
          <ion-col col-8 style="font-size: 18px;"> {{item.address}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4 style="font-size: 18px;"> <b>Code:</b></ion-col>
          <ion-col col-8 style="font-size: 18px;"> {{item.code}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-4 style="font-size: 18px;"> <b>Type:</b></ion-col>
          <ion-col col-8 style="font-size: 18px;"> {{item.type}}</ion-col>
        </ion-row>

    </div>



    <br>
    <br>
    <h1>Information package</h1>
    <div *ngFor="let item of this.paqueteprincipal; let i=index;" >
      <ion-row>
        <ion-col col-4 style="font-size: 18px;"> <b>Description:</b></ion-col>
        <ion-col col-8 style="font-size: 18px;"> {{item.Tours__description_long}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 style="font-size: 18px;"> <b>Restrictions:</b></ion-col>
        <ion-col col-8 style="font-size: 18px;"> {{item.Tours__restrictions}}</ion-col>
      </ion-row>
  </div>

  <br>
  <br>
  <h1>Category</h1>
  <div *ngFor="let item of this.listcategorias; let i=index;" >
    <ion-row>
      <ion-col col-12 style="font-size: 18px;"> {{item.Categories__name}}</ion-col>
    </ion-row>
  </div>  


  <br>
  <br>
  <h1>Extra activity form</h1>
  <div *ngFor="let item of this.listformaextra; let i=index;" >
    <ion-row>
      <ion-col col-4 style="font-size: 18px;"> {{item.ProvidedOptions__photo}}</ion-col>
      <ion-col col-8 style="font-size: 18px;"> <b>{{item.ProvidedOptions__name}}</b></ion-col>
    </ion-row>
  </div>




  <br>
  <br>
  <h1>Photo</h1>
  <div *ngFor="let item of this.listadegaleriafoto; let i=index;" >
    <ion-row>
      <ion-col col-4 style="font-size: 18px;"> {{item.TourPhotos__photo}}</ion-col>
    </ion-row>
  </div>




  <br>
  <br>
  <h1>Video</h1>
  <div *ngFor="let item of this.listadegaleriavideo; let i=index;" >
    <ion-row>
      <ion-col col-4 style="font-size: 18px;"> {{item.TourPhotos__url}}</ion-col>
    </ion-row>
  </div>


</ion-content>

