<ion-header>
      <ion-toolbar>
      	  <ion-buttons slot="start">
                <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
          </ion-buttons>
          <ion-title text-center></ion-title>
      </ion-toolbar>
</ion-header>

<ion-content class="myview">
	<div padding style=" margin-top: 10px; text-align: center; padding-top: 20px; white-space: normal;">
	   		<span style="text-align: center;font-size: 17px;">{{'yatienescuenta' | translate }} </span>
	   		<ion-button type="Button" expand="block" style="margin-top: 15px;" (click)="informacion('4')" color="secondary">{{'iniciarsession' | translate }}</ion-button>
	</div>
	<div padding>
		<ion-label title-top>{{'registrateen' | translate }} Activitiespass</ion-label>
	</div>

	<div padding>
		<ion-label title-sub>{{'creatuperfil' | translate }}</ion-label>
	</div>

	<div padding style="padding-top: 0px; padding-bo: 5px; ">
	      <ion-button expand="block" color="light" (click)="emailSignIn()" type="button">
	          <ion-icon name="person" style="margin-left: 5px;" slot="start"></ion-icon>
	          <ion-label slot="start">{{'perfilinicotext4' | translate }}</ion-label>
	      </ion-button>
	</div>
	<div *ngIf="this.version_exporar=='2'  && this.conf_activacion=='1'" padding style="padding-top: 0px; ">
	      <ion-button expand="block" color="light" (click)="googleSignIn()" type="button">
	          <ion-icon src="assets/icon/google.svg"  style="margin-left: 5px;" slot="start"></ion-icon>
	          <ion-label slot="start">{{'perfilinicotext5' | translate }}</ion-label>
	      </ion-button>
	</div>

	<div *ngIf="this.version_exporar=='2'  && this.conf_activacion=='1'" padding style="padding-top: 0px; ">
	      <ion-button expand="block" color="light" (click)="facebookSignIn()" type="button">
	          <ion-icon src="assets/icon/facebook.svg"  style="margin-left: 5px;" slot="start"></ion-icon>
	          <ion-label slot="start">{{'perfilinicotext6' | translate }}</ion-label>
	      </ion-button>
	</div>
	
	<div padding style="padding-top: 0px; margin-top: 0px; text-align: center; color:#A6ACAF; font-size: 14px; line-height: 2;" >
				<ion-checkbox color="medium" style="color: #94979a;" style="margin-right: 3px; margin-top: 8px;" [(ngModel)]="textcheckbox"></ion-checkbox>
				
	      {{'politicas1' | translate }} <a (click)="informacion('1')" style="white-space: normal; font-size: 14px !important;" href="javascript:" class="">{{'politicas2' | translate }}</a>  {{'politicas3' | translate }} <a (click)="informacion('2')" href="javascript:"  style="font-size: 14px !important;" class="">{{'politicas4' | translate }}</a>
	</div>
	
</ion-content>
