<ion-content class="myview" *ngIf="this.sessionactiva!='true'">
    <ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          ppullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>
    <div class="top-fondo-img">
                <ion-header>
                          <ion-toolbar  class="ion-toolbar">
                              <ion-buttons  slot="end" (click)="help()">
                                <ion-icon style="margin-right: 15px;" ion-icon-end name="help-circle"></ion-icon>
                              </ion-buttons>
                              <ion-buttons slot="end">
                                     <ion-icon class="menu-icon" (click)="presentPopover($event)" name="ellipsis-vertical"></ion-icon>
                              </ion-buttons>
                          </ion-toolbar>
                  </ion-header>
    </div>
    <div class="publicidad_div">
        <ion-slides #mySliderpublicidad4 avoid-super-tabs="true" [options]="slideOpts_publi"  loop="true"  pager="false" paginationType="arrows">
              <ion-slide *ngFor="let item_publicidad of this.conf_banner_1" >
                  <img class="publicidad_img" (click)="linkperfil(item_publicidad.mycar_id)"src="{{this.imgurl2}}{{item_publicidad.url_banner}}">
              </ion-slide>
        </ion-slides>
    </div>
    <ion-grid>
          <ion-row>
          <ion-col col-12 style="text-align: -webkit-center;">
              <ion-avatar class="" style="height: 80px; width: 80px; margin-top: 10%;">
                <img style="width: 80px; height: 80px;" class="" src="./assets/logos/avatar2.png" height="110px" width="110px;">
              </ion-avatar>
          </ion-col>
        </ion-row>
        <div padding>
          <ion-label class="title_registro"><b>{{'inciobienvenida1' | translate }}</b></ion-label>      
          <ion-label class="title-sub_registro">{{'inciobienvenida2' | translate }}</ion-label> 
        </div>
        <ion-row>
          <ion-col col-12 style="text-align: -webkit-center;margin-top:0px;">
                <ion-button type="Button" expand="block" style="margin-top: 15px;" (click)="registro()"       color="secondary">{{'inciobienvenida5' | translate }}</ion-button>
                <ion-button type="Button" expand="block" style="margin-top: 15px;" (click)="iniciarsession()" color="primary"  >{{'iniciarsession' | translate }}</ion-button>
            </ion-col>
          </ion-row>
    </ion-grid>
</ion-content>





<ion-content class="myview" *ngIf="this.sessionactiva=='true'" [scrollEvents]="true" #scrollElement1 id="scrollElement1">
<div class="top-fondo-img">
            <ion-header>
                      <ion-toolbar *ngFor="let item2 of this.datos;" class="ion-toolbar">
                          <div *ngFor="let item of item2.usuarios;" style="margin-top: 5px;">
                                <ion-title class="ion-title">{{ item.username }}</ion-title>
                                 <div class="categoriatitulo" *ngIf="item2.categoria_id!=null">{{ item2.categoria_id }}</div>
                          </div>
                          <ion-buttons  slot="end" (click)="help()">
                            <ion-icon style="margin-right: 15px;" ion-icon-end name="help-circle"></ion-icon>
                          </ion-buttons>

                          <ion-buttons slot="end">
                                 <ion-icon class="menu-icon" (click)="presentPopover($event)" name="ellipsis-vertical"></ion-icon>
                          </ion-buttons>
                      </ion-toolbar>
              </ion-header>
</div>
<div class="myview"  avoid-super-tabs="true">
<ion-refresher  slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    ppullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles">
  </ion-refresher-content> 
</ion-refresher>
          <div padding class="header-perfil">
             <ion-grid no-padding *ngFor="let item of datos;">
                <div class="compartirperfil">
                    <ion-icon style="font-size: 40px;margin-right: 3px;" name="share-social-outline" (click)="compartirperfil(item.id)" ></ion-icon>
                </div>
                <div no-padding style="margin-top: 0px; padding-bottom: 0px;">
                  <ion-row>
                      <ion-col col-12 style="padding-top: 0px;  text-align: -webkit-center;" >
                          <ion-avatar class="ion-margin-start" style="margin-left: 0px; height: 122px; width: 122px; border: 1px solid #BDBDBD;">
                              <img style="width: 120px; height: 120px;" *ngIf="item.foto1!='' && item.foto1!=null" src="{{item.foto_144}}">
                              <img style="width: 120px; height: 120px;" *ngIf="item.foto1=='' || item.foto1==null" src="./assets/logos/avatar.png">
                          </ion-avatar>
                      </ion-col>
                  </ion-row>
                </div>
                <div no-padding style="padding-top:0px; padding-bottom: 0px;margin-top: 0px;">
                  <ion-row>
                      <ion-col col-12 style="padding-top: 0px;">
                          <span title>{{item.razon_social}}</span>
                      </ion-col>
                      <ion-col col-12 style="padding-bottom: 0px;">
                            <div id="texto"  descripcion  *ngIf="this.vardes=='1'" [innerHTML] = "this.hashtag(item.descripcion)" class="descripcion-menos" ></div>
                            <div id="texto2" descripcion  *ngIf="this.vardes=='2'" [innerHTML] = "this.hashtag(item.descripcion)" class="div-publicacion-ver-mas"></div>
                            <a id="verm" *ngIf="item.descripcionmas=='2'"  style="font-size:12px;"  (click)="descripcionver()">{{'vermas' | translate }}</a>
                      </ion-col>
                      
                  </ion-row>
                </div>
                <div no-padding style="padding-top:10px !important">
                    <ion-row>
                        <ion-col col-12 >
                              <ion-button style="font-size: 11px;" expand="block" (click)="editarsession()"  color="light" type="button">{{'editarperfil' | translate }}</ion-button>
                        </ion-col>
                        <ion-col col-12 *ngIf="item.suscripcion_facebook_activacion=='1'">
                              <ion-button style="font-size: 11px;" expand="block" (click)="suscripcion()"  color="warning" type="button"><span style="margin-right: 10px;">★</span>{{'suscripcion1' | translate }}<span style="margin-left: 10px;">★</span></ion-button>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-grid>
          </div>
          <div>
                      <ion-grid no-padding *ngFor="let item of datos;">
                      <ion-label *ngIf="this.porcentajeregistro!=100" style="border-top: 0px solid #dedede; margin-top: 10px; padding-bottom: 16px; padding-top: 10px;font-size: 14px;margin-left: 8px;"><b>{{'registrocompletar2' | translate }}</b></ion-label>
                      <ion-row   *ngIf="this.porcentajeregistro!=100" style="height: 35px; border-radius: 10px 10px 10px 10px;"  >
                            <ion-col col-12 no-padding style="background-color: #ffffff; border-radius: 15px 0px 0px 0px;">
                                <span style="padding-top: 2px; color: #000000; position: absolute; z-index: 1; margin-left: 47%;">{{this.porcentajeregistro}}%</span>
                                <ion-progress-bar class="barraprocesost" color="secondary" value="{{this.porcentajeregistromini}}">{{this.porcentajeregistro}}%</ion-progress-bar>
                            </ion-col>
                      </ion-row>
                      <div class="destacado-registro" avoid-super-tabs="true" *ngIf="this.porcentajeregistro!=100" >
                              <div class="faltante" avoid-super-tabs="true" *ngIf="item.categoria_id==null">
                                <ion-row>
                                  <ion-col col-12 ><ion-icon name="person-circle-outline" style="font-size: 40px;color: var(--ion-color-secondary) !important;"></ion-icon></ion-col>
                                  <ion-col col-12 class="registro-titulo" ><b>{{'registrocompletar3' | translate }}</b></ion-col>
                                  <ion-col col-12 class="registro-subtitulo">{{'registrocompletar7' | translate }}</ion-col>
                                  <ion-col col-12><ion-button type="Button"  expand=""  style="margin-top: 5px; height: 25px; width: 100px;" (click)="agregar('1')" color="secondary">{{'registrocompletar1' | translate }}</ion-button></ion-col>
                                </ion-row>
                              </div>

                              <div class="faltante" avoid-super-tabs="true" *ngIf="item.foto1=='' || item.foto1==null">
                                <ion-row>
                                  <ion-col col-12 ><ion-icon name="camera-outline" style="font-size: 40px;color: var(--ion-color-secondary) !important;"></ion-icon></ion-col>
                                  <ion-col col-12 class="registro-titulo"><b>{{'registrocompletar4' | translate }}</b></ion-col>
                                  <ion-col col-12 class="registro-subtitulo">{{'registrocompletar8' | translate }}</ion-col>
                                  <ion-col col-12><ion-button type="Button"  expand=""  style="margin-top: 5px; height: 25px; width: 100px;" (click)="agregar('2')" color="secondary">{{'registrocompletar1' | translate }}</ion-button></ion-col>
                                </ion-row>
                              </div>
                              <div class="faltante" avoid-super-tabs="true" *ngIf="item.razon_social=='' || item.razon_social==null">
                                <ion-row>
                                  <ion-col col-12 ><ion-icon name="create-outline" style="font-size: 40px;color: var(--ion-color-secondary) !important;"></ion-icon></ion-col>
                                  <ion-col col-12 class="registro-titulo"><b>{{'registrocompletar5' | translate }}</b></ion-col>
                                  <ion-col col-12 class="registro-subtitulo">{{'registrocompletar9' | translate }}</ion-col>
                                  <ion-col col-12><ion-button type="Button"  expand=""  style="margin-top: 5px; height: 25px; width: 100px;" (click)="agregar('3')" color="secondary">{{'registrocompletar1' | translate }}</ion-button></ion-col>
                                </ion-row>
                              </div>

                              <div class="faltante" avoid-super-tabs="true" *ngIf="item.descripcion=='' || item.descripcion==null">
                                <ion-row>
                                  <ion-col col-12 ><ion-icon name="clipboard-outline" style="font-size: 40px;color: var(--ion-color-secondary) !important;"></ion-icon></ion-col>
                                  <ion-col col-12 class="registro-titulo"><b>{{'registrocompletar6' | translate }}</b></ion-col>
                                  <ion-col col-12 class="registro-subtitulo">{{'registrocompletar10' | translate }}</ion-col>
                                  <ion-col col-12><ion-button type="Button"  expand=""  style="margin-top: 5px; height: 25px; width: 100px;" (click)="agregar('4')" color="secondary">{{'registrocompletar1' | translate }}</ion-button></ion-col>
                                </ion-row>
                              </div>
                             
                        </div>
                        </ion-grid>
     
     
                        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
                            <ion-infinite-scroll-content
                              loadingSpinner="bubbles"
                              loadingText="{{'cargando' | translate }}...">
                            </ion-infinite-scroll-content>
                        </ion-infinite-scroll>
        </div>
</div>
</ion-content>
