<ion-header>
      <ion-toolbar>
            <ion-title style="margin-left: -26px;"  text-center>{{'suscripcion2' | translate }}</ion-title>
            <ion-buttons slot="start">
                <ion-icon (click)="regresar()" class="back" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
      </ion-toolbar>
</ion-header>
<ion-content class="myview" >
            <ion-grid no-padding *ngFor="let item of datos;" >
                    <div style="height: 100px; width: 100%; margin-bottom: 100px; text-align: center;">
                          <img style="width: 100%; height: auto;" class="" src="./assets/logos/fondo_suscription.jpg" height="300px" width="300px;">
                    </div>
                    
                    <br><br><br><br>

                    <div padding style="padding-top: 20px;padding-bottom: 0px;" *ngFor="let item1 of this.precio">
                                
                                <div class="titulo"><span style="margin-right: 10px;">★</span>PLAN: {{ item1.Memberships__name }}<span style="margin-left: 10px;">★</span></div>
                                <div class="precio">PRICE: ${{ item1.Memberships__price }} USD / MONTH</div>
                                <div class="precio">PROFILE: {{ item1.Memberships__profile }}</div>
                                <br>
                                <ion-button expand="block" type="submit" id="boton_envio" style="text-transform: none;" color="secondary" (click)="plan()">
                                    <ion-label style="font-size: 12px;">{{'suscripcion2' | translate }}</ion-label>
                                </ion-button>
                                
                    </div>
          </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">  
  <ion-toolbar >
    <div padding>
            <ion-button expand="block" type="submit" id="boton_envio" style="text-transform: none;" color="secondary" (click)="enviarformulario()">
                 <ion-label style="font-size: 12px;">{{'suscripcion2' | translate }}</ion-label>
            </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
