/*
.mediaViewInfo {
	--web-view-name: Web 1920 – 2;
	--web-view-id: Web_1920__2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__2 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 2;
	--web-view-id: Web_1920__2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#bar {
	position: absolute;
	width: 1920px;
	height: 80px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#shadow {
	fill: rgba(0,0,0,1);
}
.shadow {
	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.247));
	position: absolute;
	overflow: visible;
	width: 1923px;
	height: 82px;
	left: 0px;
	top: 1px;
}
#background {
	fill: rgba(0,0,0,1);
}
.background {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 79px;
	left: 0px;
	top: 1px;
}
#button {
	position: absolute;
	width: 1640px;
	height: 56px;
	left: 275px;
	top: 0px;
	overflow: visible;
}
#Rectangle_21 {
	fill: transparent;
}
.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 1640px;
	height: 56px;
	left: 0px;
	top: 0px;
}
#sharp {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 809px;
	top: 11px;
	overflow: visible;
}
#Icon {
	fill: rgba(0,0,0,1);
}
.Icon {
	overflow: visible;
	position: absolute;
	width: 11px;
	height: 19.251px;
	left: 5.5px;
	top: 1.375px;
	transform: matrix(1,0,0,1,0,0);
}
#Text {
	left: 0px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 1641px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.3333333206176758px;
}
#button_cp {
	position: absolute;
	width: 1640px;
	height: 56px;
	left: 185px;
	top: 0px;
	overflow: visible;
}
#Rectangle_21_cq {
	fill: transparent;
}
.Rectangle_21_cq {
	position: absolute;
	overflow: visible;
	width: 1640px;
	height: 56px;
	left: 0px;
	top: 0px;
}
#sharp_cr {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 809px;
	top: 11px;
	overflow: visible;
}
#Icon_cs {
	fill: rgba(0,0,0,1);
}
.Icon_cs {
	overflow: visible;
	position: absolute;
	width: 11px;
	height: 19.251px;
	left: 5.5px;
	top: 1.375px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_ct {
	left: 0px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 1641px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.3333333206176758px;
}
#button_cu {
	position: absolute;
	width: 1640px;
	height: 56px;
	left: 95px;
	top: 0px;
	overflow: visible;
}
#Rectangle_21_cv {
	fill: transparent;
}
.Rectangle_21_cv {
	position: absolute;
	overflow: visible;
	width: 1640px;
	height: 56px;
	left: 0px;
	top: 0px;
}
#sharp_cw {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 809px;
	top: 11px;
	overflow: visible;
}
#Icon_cx {
	fill: rgba(0,0,0,1);
}
.Icon_cx {
	overflow: visible;
	position: absolute;
	width: 11px;
	height: 19.251px;
	left: 5.5px;
	top: 1.375px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_cy {
	left: 0px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 1641px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.3333333206176758px;
}
#button_cz {
	position: absolute;
	width: 1640px;
	height: 56px;
	left: 5px;
	top: 0px;
	overflow: visible;
}
#Rectangle_21_c {
	fill: transparent;
}
.Rectangle_21_c {
	position: absolute;
	overflow: visible;
	width: 1640px;
	height: 56px;
	left: 0px;
	top: 0px;
}
#sharp_c {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 809px;
	top: 11px;
	overflow: visible;
}
#Icon_c {
	fill: rgba(0,0,0,1);
}
.Icon_c {
	overflow: visible;
	position: absolute;
	width: 11px;
	height: 19.251px;
	left: 5.5px;
	top: 1.375px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_c {
	left: 0px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 1641px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto-Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.3333333206176758px;
}
#fill {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 1693.25px;
	top: 15px;
	overflow: visible;
}
#Icon_da {
	fill: rgba(255,255,255,1);
}
.Icon_da {
	overflow: visible;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Screen_Shot_2024-03-13_at_1951 {
	position: absolute;
	width: 318px;
	height: 104.647px;
	left: 642px;
	top: 221px;
	overflow: visible;
}
#Screen_Shot_2024-03-13_at_1952 {
	position: absolute;
	width: 318px;
	height: 105.71px;
	left: 960px;
	top: 221px;
	overflow: visible;
}
#text {
	position: absolute;
	width: 520px;
	height: 43px;
	left: 700px;
	top: 129px;
	overflow: visible;
}
#background_opacity {
	opacity: 0.06;
	position: absolute;
	width: 520px;
	height: 43px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#background_da {
	fill: rgba(61,130,255,1);
}
.background_da {
	position: absolute;
	overflow: visible;
	width: 520px;
	height: 43px;
	left: 0px;
	top: 0px;
}
#Text_db {
	left: 9px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 497px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(0,0,0,1);
}
#square {
	position: absolute;
	width: 336px;
	height: 36px;
	left: 792px;
	top: 392px;
	overflow: visible;
}
#shadow_dd {
	fill: rgba(0,0,0,0);
}
.shadow_dd {
	filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.149));
	position: absolute;
	overflow: visible;
	width: 342px;
	height: 42px;
	left: 0px;
	top: 0px;
}
#background_de {
	fill: rgba(0,0,0,1);
}
.background_de {
	position: absolute;
	overflow: visible;
	width: 336px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#Group {
	position: absolute;
	width: 134px;
	height: 16px;
	left: 101px;
	top: 10px;
	overflow: visible;
}
#Text_dg {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
	text-transform: uppercase;
}
#Activities_Pass_White-Logo {
	position: absolute;
	width: 133.199px;
	height: 46.62px;
	left: 140px;
	top: 18.38px;
	overflow: visible;
}
#bar_di {
	position: absolute;
	width: 1926px;
	height: 80px;
	left: -6px;
	top: 1000px;
	overflow: visible;
}
#shadow_dj {
	fill: rgba(0,0,0,1);
}
.shadow_dj {
	filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.247));
	position: absolute;
	overflow: visible;
	width: 1922px;
	height: 82px;
	left: 7px;
	top: 1px;
}
#background_dk {
	fill: rgba(0,0,0,1);
}
.background_dk {
	position: absolute;
	overflow: visible;
	width: 1919px;
	height: 79px;
	left: 7px;
	top: 1px;
}
#button_dl {
	position: absolute;
	width: 1651px;
	height: 56px;
	left: 270px;
	top: 0px;
	overflow: visible;
}
#Rectangle_21_dm {
	fill: transparent;
}
.Rectangle_21_dm {
	position: absolute;
	overflow: visible;
	width: 1639px;
	height: 56px;
	left: 12px;
	top: 0px;
}
#sharp_dn {
	position: absolute;
	width: 11.002px;
	height: 19.247px;
	left: 825.863px;
	top: 12.375px;
	overflow: visible;
}
#Icon_do {
	fill: rgba(0,0,0,1);
}
.Icon_do {
	overflow: visible;
	position: absolute;
	width: 11.002px;
	height: 19.247px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_dp {
	left: 0px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.33px;
}
#button_dq {
	position: absolute;
	width: 1651px;
	height: 56px;
	left: 180px;
	top: 0px;
	overflow: visible;
}
#Rectangle_21_dr {
	fill: transparent;
}
.Rectangle_21_dr {
	position: absolute;
	overflow: visible;
	width: 1639px;
	height: 56px;
	left: 12px;
	top: 0px;
}
#sharp_ds {
	position: absolute;
	width: 11.002px;
	height: 19.247px;
	left: 825.863px;
	top: 12.375px;
	overflow: visible;
}
#Icon_dt {
	fill: rgba(0,0,0,1);
}
.Icon_dt {
	overflow: visible;
	position: absolute;
	width: 11.002px;
	height: 19.247px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_du {
	left: 0px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.33px;
}
#button_dv {
	position: absolute;
	width: 1651px;
	height: 56px;
	left: 90px;
	top: 0px;
	overflow: visible;
}
#Rectangle_21_dw {
	fill: transparent;
}
.Rectangle_21_dw {
	position: absolute;
	overflow: visible;
	width: 1639px;
	height: 56px;
	left: 12px;
	top: 0px;
}
#sharp_dx {
	position: absolute;
	width: 11.002px;
	height: 19.247px;
	left: 825.863px;
	top: 12.375px;
	overflow: visible;
}
#Icon_dy {
	fill: rgba(0,0,0,1);
}
.Icon_dy {
	overflow: visible;
	position: absolute;
	width: 11.002px;
	height: 19.247px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_dz {
	left: 0px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.33px;
}
#button_d {
	position: absolute;
	width: 1651px;
	height: 56px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_21_d {
	fill: transparent;
}
.Rectangle_21_d {
	position: absolute;
	overflow: visible;
	width: 1639px;
	height: 56px;
	left: 12px;
	top: 0px;
}
#sharp_d {
	position: absolute;
	width: 11.002px;
	height: 19.247px;
	left: 825.863px;
	top: 12.375px;
	overflow: visible;
}
#Icon_d {
	fill: rgba(0,0,0,1);
}
.Icon_d {
	overflow: visible;
	position: absolute;
	width: 11.002px;
	height: 19.247px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Text_d {
	left: 0px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 0.33px;
}
#facebook {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 935px;
	top: 1015.125px;
	overflow: visible;
}
#Icon_ea {
	fill: rgba(255,255,255,1);
}
.Icon_ea {
	overflow: visible;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}





*/







/////////////////////AQUI ORIGINAL//////////////////



.mensajenuevo{
    background-color: red;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 9px;
}
.activa-notificaciones{
  

}
.desactiva-notificaciones{
  
  
}
.add-menu-seleccion{
   color: var(--ion-color-secondary) !important;
}
.add-menu{
    font-size: 31px !important;
    margin-top: -1px !important;
    color: var(--ion-color-secondary) !important;
}

[ion-icon-end]{
    margin-right: 20px;
    font-size: 25px;
}

ion-title {
 
}

ion-header{
  margin-bottom: -8px;
}
super-tabs-toolbar {
    color: white;
    height: 48px;
}

ion-tab-button {
  --color: #777a80ad;
  --color-selected: var(--ion-color-secondary) !important;
}
ion-label{
    font-size: 11px;
    margin-top: 2px;
}
super-tabs-toolbar ion-icon {
    margin-top: -5px;
    --st-icon-size: 25px;
    --st-base-color-inactive: white;
    --st-icon-color-active: white;
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px;
}

super-tab-button {
    height: 48px !important;
}

.header-md:after {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: none;
    background-repeat: repeat-x;
    content: "";
}

ion-icon {
    display: inline-block;
    font-size: 18px;
}

.principal{
  margin-top: 10px;
}

ion-tab-button {
  padding-top: 5px;
}

ion-tab-button ion-icon {
    display: inine-block;
    font-size: 27px;
    margin-top: 2px;
}

.button-md_principal{
      float: none;
      width: 140px;
      height: 118px;
      color: #f79633;
      margin-top:   15px;
      margin-right: 3%;
      margin-left:  3%;
      border: 1px #777 solid;
      background-color: #ffffff;
      padding: 0px;
      -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
      -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
      box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.55);
      border-radius: 10px 10px 0px 0px;
}
[ion-slide]{
    width: 100% !important;
}
[item-principal] {
  margin-top: 20px;
}
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 0px 0;
}

ion-menu.md ion-note {
  margin-bottom: 15px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 0px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}